<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layoutDashboard :: head"></head>
<body>
	<div class="col-md-12 row">

		<div class="col-md-2">
			<div th:replace="layout/layoutDashboard :: header"></div>
		</div>

		<div class="col-md-10">
			<div th:replace="layout/layoutDashboard :: navDash"></div>
			
			<br> <br>
			<div class="text-center">
				<h3 th:text="${titol}"></h3>
			</div>
			<br><br>

			<div class="col-md-12 row">
				<div class="col-md-2">
					<span> </span>
				</div>
				<div class="col-md-8">
					<table class="table">
						<thead>
							<tr>
								<th scope="col">#</th>
								<th scope="col">Usuari</th>
								<th scope="col">Proposta</th>
								<th scope="col">Eliminar</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="propuestas: ${propuestas}">
								<th scope="row" th:text="${propuestas.idPropuesta}"></th>
								<td
									th:text="${propuestas.usuarioJoven.usuario.nombre} + ' ' + ${propuestas.usuarioJoven.usuario.apellido}">Mark</td>
								<td th:text="${propuestas.propuesta}"></td>
								<td><a class="btn btn-danger text-white"
									th:href="@{/admin/propostes/eliminar/} + ${propuestas.idPropuesta}">Eliminar</a></td>
							</tr>
						</tbody>
					</table>
					<br>
					<nav th:replace="paginator-nav :: paginator"></nav>
				</div>
				<div class="col-md-2">
					<span> </span>
				</div>
			</div>
		</div>


	</div>

</body>
</html>