<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layoutDashboard :: head"></head>
<body>
	<div class="col-md-12 row">

		<div class="col-md-2">
			<div th:replace="layout/layoutDashboard :: header"></div>
		</div>

		<div class="col-md-10">
			<div th:replace="layout/layoutDashboard :: navDash"></div>

			<br> <br>
			<div class="text-center">
				<h3 th:text="${titol}"></h3>
			</div>
			<br> <br>

			<div class="col-md-12 row">
				<div class="col-md-2">
					<span> </span>
				</div>

				<!-- Formulari del post -->
				<div class="col-md-8">
					<form th:action="@{/admin/tallers/llista/} + ${taller.idTaller}"
						th:object="${userXTaller}" method="post">
						<div class="form-group">
							<label for="descripcion">selecciona usuari: </label> 
							<select class="form-control" th:field="${userXTaller.usuarioJoven.idUsuarioJoven}" required >
								<option value="">Seleccionar</option>
								<option th:each="seleccion: ${seleccion}" th:value="${seleccion.idUsuarioJoven}"
									th:text="${seleccion.usuario.nombre} + ' ' + ${seleccion.usuario.apellido}"></option>
							</select>
						</div>

						<input type="submit" class="btn btn-primary"
							value="Afegir participant" />

					</form>
				</div>

				<div class="col-md-2">
					<span> </span>
				</div>
			</div>
		</div>


	</div>

</body>
</html>