<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layoutDashboard :: head"></head>
<body>
	<div class="col-md-12 row">

		<div class="col-md-2">
			<div th:replace="layout/layoutDashboard :: header"></div>
		</div>

		<div class="col-md-10">
			<div th:replace="layout/layoutDashboard :: navDash"></div>

			<br> <br>
			<div class="text-center">
				<h3 th:text="${titol}"></h3>
			</div>
			<br>
			<br>

			<div class="col-md-12 row">
				<div class="col-md-2">
					<span> </span>
				</div>
				<div class="col-md-8">

					<form th:action="@{/admin/tallers/}" th:object="${taller}"
						method="post" enctype="multipart/form-data">
						<div class="form-group">
							<label for="titulo">Titol</label> <input type="text"
								class="form-control" th:field="${taller.publicacion.titulo}" required />
						</div>
						<div class="form-group">
							<label for="foto">Imagen: </label> <input type="file" name="foto"
								class="form-control" required />
						</div>
						<div class="form-group">
							<label for="plazas">Places</label> <input type="number"
								class="form-control" th:field="${taller.plaza}" required />
						</div>
						<div class="form-group">
							<label for="dia">Dia i hora</label> <input type="text"
								class="form-control" th:field="${taller.diaHoraTaller}" required />
						</div>
						<div class="form-group">
							<label for="sitio">Casal</label> <select class="form-control"
								th:field="${taller.sitio}">
								<option value="Migjorn">Migjorn</option>
								<option value="casal antic">casal antic</option>
								<option value="Tramuntana">Tramuntana</option>
								<option value="Llevant">Llevant</option>
								<option value="Arenal">Arenal</option>
							</select>
						</div>
						<div class="form-group">
							<label for="descripcion">Descripció</label>
							<textarea class="form-control" rows="8"
								th:field="${taller.publicacion.descripcion}" required /></textarea>
						</div>

						<input type="submit" class="btn btn-primary" value="Crear-lo">
					</form>

				</div>
				<div class="col-md-2">
					<span> </span>
				</div>
			</div>
		</div>


	</div>

</body>
</html>