@charset "ISO-8859-1";

.navbar-nav.navbar-center {
	position: absolute;
	left: 50%;
	transform: translatex(-50%);
}

.navbar-nav.navbar-right {
	position: absolute;
	right: 0%;
	transform: translatex(-50%);
}

.sesion{
	position: absolute;
	height: 950%;
	width: 500%;
	transform: translatex(-80%);
}