<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layoutDashboard :: head"></head>
<body>
	<div class="col-md-12 row">

		<div class="col-md-2">
			<div th:replace="layout/layoutDashboard :: header"></div>
		</div>

		<div class="col-md-10">
			<div th:replace="layout/layoutDashboard :: navDash"></div>

			<div class="col-md-12 row">
				
				<div class="card col-md-2 bg-primary text-white">
					<div class="card-body">
						<h5 class="card-title">Usuaris Joves:</h5>
						<h1>5</h1>
					</div>
				</div>
				
				<div class="col-md-1">
					
				</div>

				<div class="card col-md-2 bg-success text-white">
					<div class="card-body">
						<h5 class="card-title">Tallers en total</h5>
						<h1>12</h1>
					</div>
				</div>
				
				<div class="col-md-1">
					
				</div>
				
				<div class="card col-md-2 bg-danger text-white">
					<div class="card-body">
						<h5 class="card-title">Post:</h5>
						<h1>20</h1>
					</div>
				</div>
				
				<div class="col-md-1">
					
				</div>
				
				<div class="card col-md-2 bg-warning text-dark">
					<div class="card-body">
						<h5 class="card-title">Propostes enviats</h5>
						<h1>8</h1>
					</div>
				</div>
				
				
			</div>
			
			<br>
			
			<div class="col-md-12 row">
				
				<div class="card col-md-11">
					<div class="card-body">
						<h5 class="card-title">Ultims comentaris:</h5>
						<hr>
						<h5>Nom usuari - Post Exemple:</h5>
						<h5>Aixo es un comentari</h5>
					</div>
					<div class="card-body">
						<h5>Nom usuari - Post Exemple:</h5>
						<h5>Aixo es un comentari</h5>
					</div>
					<div class="card-body">
						<h5>Nom usuari - Post Exemple:</h5>
						<h5>Aixo es un comentari</h5>
					</div>
				</div>
				
				
			</div>
			
			<br>
			
			<div class="col-md-12 row">
				
				<div class="card col-md-5">
					<div class="card-body">
						<h5 class="card-title">Ultims post:</h5>
						<hr>
						<h5>Post 1 - Creat: Dinamitzador</h5>
						<h5>Post 2 - Creat: Dinamitzador</h5>
						<h5>Post 3 - Creat: Dinamitzador</h5>
						<h5>Post 4 - Creat: Dinamitzador</h5>
						<h5>Post 5 - Creat: Dinamitzador</h5>
					</div>
				</div>
				
				<div class="col-md-1">
					
				</div>
				
				<div class="card col-md-5">
					<div class="card-body">
						<h5 class="card-title">Propostes calents:</h5>
						<hr>
						<h5>Usuari: Proposta exemple.</h5>
						<h5>Usuari: Proposta exemple.</h5>
						<h5>Usuari: Proposta exemple.</h5>
						<h5>Usuari: Proposta exemple.</h5>
						<h5>Usuari: Proposta exemple.</h5>
					</div>
				</div>
				
				
			</div>
			<br>
		</div>


	</div>

</body>
</html>